*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: rgb(0, 170, 242);
    color: #000;
    min-height: 100vh;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url('izzy.png') center center;
    background-color: rgb(0, 170, 242);
    background-size: cover;

}

@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

:root {
    font-size: 0.625em;
}

/*
layout
*/
html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*
Counters
*/

.menu ol {
    counter-reset: menu;
    padding: 25px;
}

/*
regular menu items
*/

.menu-item a {
    display: flex;
    justify-content: flex-start;
    color: currentColor;
    text-decoration: none;
    padding: 0.3rem 0;
    order: 0;
    color: #fff
}



/*
Sub menu & items
*/
.sub menu {
    font-size: .6rem;
    font-weight: normal;
}

.sub-menu>li>a {
    text-indent: 0ch;
    padding: 0.5rem;
    margin: 0;
}

.menu {
    width: 22vw;
    min-width: 20ch;
    display: flex;
    flex-flow: column nowrap;
    font: bold 2.4rem;
    position: relative;
    transform: rotate(0deg);
    font-size: 22px;
}

.menu {
    transition: transform 0.3s;
}

.menu:hover {
    transform: rotate(0);
}

.menu::before {
    transition: transform 0.5s;
}

.menu::after {
    transition: transform 0.5s;
}

.menu .menu-item a::after {
    transition: transform 0.3s;
}

.menu:hover .menu-item a::after {
    transform: rotate(0);
}

.menu:hover>ol>.menu-item {
    opacity: 0.3;
}

ol {
    list-style: none;
}

ol>li:before {
    content: "";
    color: #fff;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(0, 170, 242);
}

.menu-item:hover {
    transition: background-color 0.3s;
    background: rgba(255, 255, 0, 0, 15);
    opacity: 1 !important;
}

.menu-item:hover a::after {
    text-decoration: none;
}

.menu-item:hover>a::before {
    transition: flex-grow 0.3s;
    width: 0;
    flex-grow: 0;
    transform-origin: center bottom;
}

.menu:hover .sub-menu .menu-item {
    max-height: 10em;
    transform: scaleY(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

h1,
p {
    color: rgb(0, 170, 242);
    text-align: center;
    line-height: 1.4;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 0%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(0, 170, 242);
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}


.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .menu ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 55px;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
    }

    .menu li {
        padding: 15px;
    }

    .menu li:first-child {
        margin-top: 50px;
    }

    .menu li a {
        color: #fff;
    }

    ol>li:before {
        color: #fff;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
        margin-left: -70%;
        margin-top: 5%;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }

    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

    #search-icon {
        display: none;
    }

    .search-input {
        display: none;
    }

}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.center button {
  padding:10px 20px;
  border:1px solid rgb(0, 170, 242);
  border-radius: 15%;
  color:rgb(0, 170, 242);
  background:transparent;
  font-size:16px;
  cursor:pointer;
}
.popup {
  position:fixed;
  top: 50%;
  left:0px;
  width:0%;
  height:0%;
  transform:translateY(-50%);
  background:#fff;
  z-index:2;
}
.popup .content {
  padding:30px 20px;
  width:100%;
  height: 100%;
  max-width:550px;
  margin:0 auto;
  opacity:0;
  overflow-y: auto;
}
.popup .content .popup-close-btn {
  position:absolute;
  top:20px;
  right:20px;
  width:40px;
  height:40px;
  text-align:center;
  line-height:35px;
  color:#111;
  font-size:30px;
  cursor:pointer;
  border-radius:50%;
}
.popup .content .popup-close-btn:hover {
  background:#eee;
}
.popup .content h1 {
  font-size:40px;
  margin:20px 0px;
}
.popup .content p {
  margin-bottom:30px;
  font-size: 26px;
  color:#555;
}

.content::-webkit-scrollbar {
    width: 0.8rem;
    background: white;
}

.content::-webkit-scrollbar-thumb {
    background: rgb(0, 170, 242);
    border-radius: 5rem;
}

.popup.active {
  animation: popupAnimation 1500ms ease-in-out forwards;
}
.popup.active .content {
  opacity:1;
  transition:all 300ms ease-in-out 1500ms;
}
@keyframes popupAnimation {
  0% {
    width:0%;
    height:0%;
  }
  50% {
    width:100%;
    height:2px;
  }
  100% {
    width:100%;
    height:100%;
  }
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    right: 0;
    top: 0;
    bottom: 75%;
    z-index: 10;
}

.speechb {
    width: 200px;
    height: 140px;
    background: white;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.speechb:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 36px;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 60px solid white;
    border-bottom: 60px solid transparent; 
}